.button-row {
  margin: 0 0 1rem 0;
}

.button-row button {
  margin-right: 1rem;
}

.stardb-app {
 /* min-width: 610px; */
}


@media (max-width: 576px) {
  .container {
    max-width: none;
    padding: 0;
  }

  .stardb-app {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

}



